extends base

block content
  main.main
    .payment
      .payment__title
      if booking
        - if (booking.paid)
          h2.heading-secondary The order payment was successful
        - if (!booking.paid)
          h2.heading-secondary.heading-secondary--error The order payment was not successful
        .payment__msg= `Order ID: ${booking.order}`  
      - if (!booking)
        h2.heading-secondary.heading-secondary--error No order ID was found!!!
      //- if booking
      //-   .payment__msg= `Order ID: ${booking.order}`